<!DOCTYPE html>
%html
  %head
    %title
      Notes Viewer
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags 
  %body
    .container
      .navbar
        .navbar-inner
          %ul.nav.navbar-nav
            %li
              = link_to "root", browser_url("root")
            - if @directory.blank? && params[:path].present?
              %li
                = link_to "edit", edit_page_path(path: params[:path])
    .container
      %h2
        Directory:
        = params[:level1] || "root"
    .container
      .main_content
        = yield
    .container
      .footer
        %p.muted.text-center
          \- Notes Viewer 2013 -
