<!DOCTYPE html>
%html
  %head
    %title
      Notes Viewer
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags 
  %body
    %span.visible-xs
      SIZE XS
    %span.visible-sm
      SIZE SM
    %span.visible-md
      SIZE MD
    %span.visible-lg
      SIZE LG

    = render 'layouts/breadcrumb'
    .container
      .main_content.well
        = yield
    .container
      .footer
        %p.muted.text-center
          \- Notes Browser -
